@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

/*
=====================
CSS DEFAULTS
=====================
*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* 
===========
DEFAULT STYLING
===========
*/

body {
  font-family: 'Bungee', sans-serif;
}

.btn {
  width: 120px;
  height: 120px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #1f2933;
  transition: all 0.3s linear;
}

.btn i {
  font-size: 3rem;
  color: #fff;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

/* 
===========
CONTAINER
===========
*/

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: oklch(27.8% 0.033 256.848);
  padding: 1rem;
  height: 5rem;
}

.game {
  border: 1px solid black;
  background: oklch(92.8% 0.006 264.531);
}

.game-center {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav h1 {
  color: oklch(87.2% 0.01 258.338);
}

.btn-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.score {
  display: flex;
  justify-content: space-around;
  height: 5rem;
  padding: 1rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}
.display .player-choice i,
.display .computer-choice i {
  font-size: 10rem;
}
.result {
  font-size: 1.2rem;
}
/* 
============
GAME MECHANICS
============
*/

.player-choice,
.computer-choice {
  display: none;
}

.player-choice.is-active,
.computer-choice.is-active {
  display: inline-block;
}
